In [125]:
import pandas as pd

In [2]:
#Task 1
def classify (rating):
    if rating <= 2.0:
        return ('Low')
    elif rating <= 4.0:
        return ('Medium')
    else:
        return ('High')  

ratings = pd.read_csv('ratings.csv')
ratings['class'] = ratings['rating'].apply(classify)
ratings.head(15)

    userId  movieId  rating   timestamp   class
0        1       31     2.5  1260759144  Medium
1        1     1029     3.0  1260759179  Medium
2        1     1061     3.0  1260759182  Medium
3        1     1129     2.0  1260759185     Low
4        1     1172     4.0  1260759205  Medium
5        1     1263     2.0  1260759151     Low
6        1     1287     2.0  1260759187     Low
7        1     1293     2.0  1260759148     Low
8        1     1339     3.5  1260759125  Medium
9        1     1343     2.0  1260759131     Low
10       1     1371     2.5  1260759135  Medium
11       1     1405     1.0  1260759203     Low
12       1     1953     4.0  1260759191  Medium
13       1     2105     4.0  1260759139  Medium
14       1     2150     3.0  1260759194  Medium

In [5]:
#Task 2
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

def region_fill(row):
    for word in row['split']:
        if word.lower() in geo_data['Центр']:
            return 'Центр'
        elif word.lower() in geo_data['Северо-Запад']:
            return 'Северо-Запад'
        elif word.lower() in geo_data['Дальний Восток']:
            return 'Дальний Восток'
        else:
            continue
    return 'undefined'

keywords = pd.read_csv('keywords.csv')
keywords['split'] = keywords['keyword'].apply(lambda phrase: phrase.split(' '))
keywords['region'] = keywords.apply(region_fill, axis=1)
del keywords['split']

keywords['region'].unique()

array(['undefined', 'Центр', 'Северо-Запад', 'Дальний Восток'],
      dtype=object)

In [190]:
years = [str(x) for x in range(19, 2005)]

In [207]:
#Task 3

#Part 1
years = [str(x) for x in range(1950, 2011)]

#Part 2
def production_year(row):
    for year in years:
        if year in row['title']:
            return(year)
    return ('1900')

#Part 3
movies = pd.read_csv('movies.csv')
movies['year'] = movies.apply(production_year, axis=1)
movies.head(20)

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
5,6,Heat (1995),Action|Crime|Thriller,1995
6,7,Sabrina (1995),Comedy|Romance,1995
7,8,Tom and Huck (1995),Adventure|Children,1995
8,9,Sudden Death (1995),Action,1995
9,10,GoldenEye (1995),Action|Adventure|Thriller,1995
10,11,"American President, The (1995)",Comedy|Drama|Romance,1995
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,1995
12,13,Balto (1995),Adventure|Animation|Children,1995
13,14,Nixon (1995),Drama,1995
14,15,Cutthroat Island (1995),Action|Adventure|Romance,1995
15,16,Casino (1995),Crime|Drama,1995
16,17,Sense and Sensibility (1995),Drama|Romance,1995
17,18,Four Rooms (1995),Comedy,1995
18,19,Ace Ventura: When Nature Calls (1995),Comedy,1995
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,1995

In [208]:
#Task 3
#Part 4
dict_year_movieId = {}
for year in years:
    dict_year_movieId[year] = movies[movies.year == year]['movieId'].to_dict() #формируем словарь для каждого года все movieId

#Считаем для каждого года средний рейтинг и пишем значение среднего в словарь для каждого года
avr_year = 0
avr = {}
for year_id, movies_list in b.items():
    for mov in list(movies_list.values()):
        avr_year += ratings[ratings['movieId'] == mov]['rating'].mean()
    if len(list(movies_list.values())) != 0:
           avr_year = avr_year / len(list(movies_list.values()))
    else:
           avr_year = 0
    avr[year_id] = avr_year
print(avr)

{'1995': 3.2313375353050082, '1996': 0, '1997': 3.4018691588785046, '1998': 7.28648454349389, '1999': 0, '2000': 3.4508196721311477, '2001': 0, '2002': 3.9488636363636362, '2003': 6.546689723320158, '2004': 0}